*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 100px;
}

h2 {
  font-size: 36px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.card {
  background-image: url('/Users/savancex/Documents/react-js-projects/valentine-asma/public/old-paper-img.jpg');
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-top: 200px;
  width: 100%;
  max-width: 800px;
}


.response-card {
  z-index: 999;
  position: absolute;
  top: 348px;
  width: 500px;
  background-color: red;
}

.from-stamp-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  p:nth-child(1) {
    padding: 28px;
    font-size: 24px;
  }

  p:nth-child(2) {
    width: 78px;
    background-color: rgb(0, 191, 255);
    border: 1px solid black;
    font-size: 56px;
    margin-right: 28px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  button[type=submit] {
    height: 48px;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: rgb(143, 55, 224);
    margin-bottom: 48px;
    margin-top: 24px;
  }
}

label {
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  font-weight: 500;
  gap: 8px;

  input[type=radio] {
    border: 1px solid #000000;
    padding: 0.8em;
    -webkit-appearance: none;
  }

  input[type=radio]:checked {
    /* background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center; */
    background-color: black;
    background-size: 10px 10px;
  }

  input[type=radio]:focus {
    outline-color: transparent;
  }

}

label:hover, input[type=radio]:hover {
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 191, 255) !important;
  cursor: pointer;
}